// Screen size variables
$screen-xs-min: 425px; // Tiny phones
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Spacing variables
$space-base: 8px;
$space-medium: 16px;
$space-x-medium: 24px;
$space-large: 32px;
$space-x-large: 40px;

@font-face {
  font-family: 'Hanken Grotesk Regular';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/HKGrotesk-Regular.woff") format("woff"),
       url("/assets/HKGrotesk-Regular.woff2") format("woff2"),
}

// Mixins
@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

// Tiny devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Small devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

* {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Hanken Grotesk Regular', serif;
  color: #2B2A25;
}

a {
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: color 340ms ease-out;
  font-weight: 600;
  color: #FF2E00;
}

img {
  width: 100%;
  height: auto;
  display: block;
}



